{% extends 'base_panel.html' %}

{% load static %}

{% block content %}

<div class="main">
	<div class="tab-content" id="nav-tabContent">
        <div class="chat" id="chat">
                        <div class="top">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="inside">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content empty">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="no-messages">
                                        <i class="material-icons md-48">forum</i>
                                        <p>Seems people are shy to start the chat. Break the ice, send the first message.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</div>
{% endblock %}